<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chartflow.core.mapper.DatasetMapper">

    <resultMap id="BaseResultMap" type="com.chartflow.core.model.entity.Dataset">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="filePath" column="filePath" />
            <result property="rowCount" column="rowCount" />
            <result property="columnCount" column="columnCount" />
            <result property="columnMeta" column="columnMeta" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,filePath,rowCount,columnCount,
        columnMeta,userId,createTime,updateTime,isDelete
    </sql>
</mapper>
