<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chartflow.core.mapper.PromptMapper">

    <resultMap id="BaseResultMap" type="com.chartflow.core.model.entity.Prompt">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="promptQuery" jdbcType="VARCHAR" property="promptQuery" />
            <result column="userId" jdbcType="BIGINT" property="userId" />
            <result column="usageCount" jdbcType="INTEGER" property="usageCount" />
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
            <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="isDelete" jdbcType="TINYINT" property="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, promptQuery, userId, usageCount, createTime, updateTime, isDelete
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from prompt
        where id = #{id} and isDelete = 0
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from prompt
        where isDelete = 0
    </select>

    <insert id="insert" parameterType="com.chartflow.core.model.entity.Prompt">
        insert into prompt (name, promptQuery, userId, usageCount, createTime, updateTime, isDelete)
        values (#{name}, #{promptQuery}, #{userId}, #{usageCount}, #{createTime}, #{updateTime}, #{isDelete})
    </insert>

    <update id="updateById" parameterType="com.chartflow.core.model.entity.Prompt">
        update prompt
        set name = #{name},
            promptQuery = #{promptQuery},
            userId = #{userId},
            usageCount = #{usageCount},
            updateTime = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        update prompt set isDelete = 1 where id = #{id}
    </delete>

</mapper>
